.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  background: #eaeaea;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}
.footer > div {
  display: flex;
  width: 65rem;
  justify-content: space-between;
  align-items: center;
}
.logoText {
  font-family: 'Lobster Two', cursive;
}
.logoWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}
.logo {
  height: 3em;
  margin: 5px;
}
@media (max-width: 768px) {
  .logoText {
    display: none;
  }
}
@media (max-width: 1045px) {
  .footer {
    padding-left: 1em;
    padding-right: 1em;
  }
}