.carouselDiv {
  margin-top: 2em;
  margin-bottom: 2em;
}
.carouselDiv h2 {
  text-align: center;
  font-size: 42px;
}
.imgCarousel {
  width: 100%;
  height: auto;
  max-height: 100%;
}
.subtitle {
  text-align: center;
}