.carouselDiv {
  margin-top: 2em;
  margin-bottom: 2em;
}
.carouselDiv h2 {
  text-align: center;
  font-size: 42px;
}
.imgCarousel {
  width: 100%;
  height: auto;
  max-height: 100%;
}
.subtitle {
  text-align: center;
}
.carouselDiv :global .alice-carousel__dots-item {
  background-color: black;
  opacity: 0.25 !important;
}
.carouselDiv :global .alice-carousel__dots-item.__active {
  background-color: black !important;
  opacity: 1 !important;
}
@media (max-width: 768px) {
  .subtitle {
    font-size: 0.825em;
  }
}