.hero {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.hero h2 {
  font-size: 50px;
  margin: auto;
  text-align: center;
}
.followUs {
  margin-top: 1em;
  font-size: 1em;
  text-align: center;
}
@media (max-width: 1045px) {
  .hero {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .hero h2 {
    font-size: 1.5em;
    margin: auto;

  }
}