.hero {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.hero h1 {
  font-size: 50px;
  margin: auto;
  text-align: center;
}
.subtitle {
  text-align: center;
  font-size: 1.25em;
}
.orderUs {
  font-size: 42px;
  text-align: center;
}
.howItWorks {
  font-size: 22px;
  margin-bottom: .5em;
}
.contactUs {
  display: flex;
  justify-content: center;
  gap: 1em;
}
.contactUs > a {
  display: flex;
  margin-top: 0px;
}
.contactUs > a > span {
  display: flex;
  gap: 5px;
  align-items: center;
}
.followUs {
  margin-top: 2.5em;
  margin-bottom: 1em;
  font-size: 1.4em;
  text-align: center;
  text-decoration: none;
  color: black;
}
.followUs > span {
  color: black;
  background-color: #FFC0CB;
  padding: .5em 1em;
  border-radius: 30px;
  transition: box-shadow 0.3s ease-in-out;
}
.followUs:active {
  color: black;
}
.followUs > span:hover {
  box-shadow: 2px 3px 5px 2px #afafaf;
  transition: box-shadow 0.3s ease-in-out;
}
.orderNowButton > span {
  background-color: #FFD700;
  cursor: pointer;
  font-family: 'Lobster Two', cursive;
}
.instagram > span {
  background-color: #FFC0CB;
}
.whatsapp > span {
  background-color: #ADD8E6;
}
.moreStyles {
  margin-top: 1em;
}
@media (max-width: 768px) {
  .contactUs {
    flex-direction: column;
    gap: 0;
    align-items: center;
  }
  .contactUs > a {
    margin-bottom: 0.5em;
  }
  .orderUs {
    font-size: 1.5em;
  }
  .main h2 {
    font-size: 1.5em;
  }
}
@media (max-width: 1045px) {
  .hero {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .hero h1 {
    font-size: 1.5em;
    margin: auto;
  }
}